<!-- <nav class="navbar" style="background-color: #e30713!important;"></nav> -->
<nav class="navbar" style="background-color: #e30713!important;"></nav>
<footer class="site-footer">
		<div class="container-fluid">
			<div class="row" style="color: rgb(255, 255, 255) !important;">
				<div class="col-md-6 col-sm-12 border-right">
					<br>
					<br>
					<h4 class="font-2 left">
						 <ul>Plasma Donation</ul>
                    </h4>
					<h4 class="font-2 left">
						<ul>"Find you Blood-Match, Beat Corona"</ul>
                    </h4>
				</div>
				<div class="col-md-1">
					
				</div>
				<div class="col-md-4 col-sm-12">
                    <br><br>
					<div class="input-group">
					  <input type="email" class="form-control" placeholder="Enter Your Email" aria-label="" aria-describedby="basic-addon1">
					  <div class="input-group-append">
					    <button mat-raised-button style="background-color: #e30713;color: white;" type="button" (click)="alert()">Subscribe</button>
					  </div>
					</div>
				</div>
			</div>
		</div><br><br>
</footer>
<mat-toolbar style="text-align: center;"><h6>&copy; Copyright 2020 Plasma Donation</h6></mat-toolbar>
<nav class="navbar" style="background-color:#e30713!important;"></nav>
    