<div class="container" style="text-align: center;text-transform: uppercase;background-color: #e30713;">
    <h1 class="welcome">Covid-19 Timeline</h1>
  </div>
  <div class="container-fluid">
    <mat-card><p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, molestias? Voluptatibus, officia fugiat eaque magni impedit consequatur maxime magnam quasi repellendus, dolorem recusandae sed distinctio autem quam saepe? Odio, placeat.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea esse sit accusantium quos. Omnis ad quas nobis quis. Atque, assumenda labore eaque dicta eveniet voluptas itaque eum excepturi eligendi! Autem.
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam, explicabo odio! Beatae quae vitae a doloremque pariatur. Accusantium velit expedita, officiis nostrum iure eum itaque est veniam rerum qui labore.
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum commodi mollitia architecto modi numquam excepturi id repellendus dolor quasi odit inventore labore doloremque voluptatibus quam, beatae omnis quo voluptate eligendi.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur nihil fugiat delectus, quis consequuntur maxime odio expedita quibusdam explicabo provident aut distinctio aperiam ullam magni, voluptatum asperiores a corporis nisi?
    </p></mat-card>
  </div>
  <br><br>