<br><br><br><br>
<div class="container" style="text-align: center;text-transform: uppercase;background-color: #e30713;padding-top: 5px;padding-bottom: 5px;">
    <h1 class="welcome">Covid-19 Timeline</h1>
</div>
<br>
<div style="text-align: center;">
  <mat-form-field class="search" style="text-align: center;" appearance="outline">
    <input matInput [(ngModel)]="search" placeholder="FIND YOUR COUNTRY" type="text">
</mat-form-field>
</div>
<div class="container">
    <mat-card style="background-color:lightgray">
      <table class="table table-striped table-light table-responsive mat-elevation-z8 table-hover check" style="height: 1000px;">
        <caption>Country Wise Covid-19 Stats</caption>
        <thead class="thead-dark">
          <th>DATE</th>
          <th>COUNTRY</th>
          <th>NEW CONFIRMED</th>
          <th>TOTAL CONFIRMED</th>
          <th>NEW DEATHS</th>
          <th>TOTAL DEATHS</th>
          <th>NEW RECOVERED</th>
          <th>TOTAL RECOVERED</th>
        </thead>
        <tbody>
          <tr *ngFor="let arr of countryreports | filter:search">
            <td>{{arr.Date | date}}</td>
            <td>{{arr.Country}}</td>
            <td>{{arr.NewConfirmed}}</td>
            <td>{{arr.TotalConfirmed}}</td>
            <td>{{arr.NewDeaths}}</td>
            <td>{{arr.TotalDeaths}}</td>
            <td>{{arr.NewRecovered}}</td>
            <td>{{arr.TotalRecovered}}</td>
          </tr>
        </tbody>
      </table>
    </mat-card>
  </div>
  <br><br>