<div class="container-fluid" style="padding-left:0px;padding-right:0px">
    <img src="../../../assets/1.jpg" style="width:100%;">
</div>
<br><br>
  
<div class="container" style="text-align: center;text-transform: uppercase;background-color: #e30713;">
    <h1 class="welcome">Welcome</h1>
</div>
<div class="container-fluid">
  <mat-card style="text-align: center;"><div>
    <br><br>
    <h3>If you have fully recovered from COVID-19, you may be able to help patients currently fighting the infection by donating your plasma.</h3>
    <h3>Because you fought the infection, your plasma now contains COVID-19 antibodies. These antibodies provided one way for your immune system to fight the virus when you were sick, so your plasma may be able to be used to help others fight off the disease.</h3>
    <br><br><br>
    <h1 style="text-transform: uppercase;color: #e30713;">what is plasma ?</h1>
    <h3>Plasma is the clear, straw-colored liquid portion of blood that remains after red blood cells, white blood cells, platelets and other cellular components are removed. It is the single largest component of human blood, comprising about 55 percent, and contains water, salts, enzymes, antibodies and other proteins.</h3>
    <br><br>
  </div></mat-card>
</div>
<br><br>


<app-dos-donts></app-dos-donts>
<app-about-us></app-about-us>