<div class="container" style="text-align: center;text-transform: uppercase;background-color: #e30713;">
    <h1 class="welcome">About us</h1>
  </div>
  <div class="container-fluid">
    <mat-card>
    <div>
      <h1 style="text-align: center;font-family: inherit;text-transform: uppercase;color: #e30713;font-weight: bold;">A Step Towards Hope</h1>
      <h3 style="text-align: center;">
        An initiative by i-Tech Association of Shri Shankaracharya Institute of Professional Management and Technology Raipur. <br>
        It as a wireframe of Plasma Donation Webapp, where user can register himself or herself as a donor and also view other donors available and willing to donate.      
      </h3>
    </div>
    </mat-card>
  </div>
  <br><br>