<mat-toolbar class="above-navbar">
    <span style="margin-left: 50px;"></span>
    <span class="material-icons">email</span>&nbsp;&nbsp;&nbsp;
    <a href="#">Contact Us : +91 83190-35482</a>
    <span class="example-spacer"></span>
    <a routerLink="/login">Login
    &nbsp;&nbsp; | &nbsp;&nbsp;
    Signup</a>
    <span style="margin-right: 50px;"></span>
</mat-toolbar>
<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>home</mat-icon>
    </button>
    <span>Plasma Donation</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>people</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>favorite</mat-icon>
    </button>
  </mat-toolbar>
  <!-- <div class=" container bgimage">
      <img class="banner" src="../../../assets/1.jpg" alt="plasma_banner">
  </div> -->