<mat-toolbar class="above-navbar">
    <span style="margin-left: auto;"></span>
    <span class="material-icons">email</span>&nbsp;&nbsp;&nbsp;
    <a href="#">Contact Us : +91 83190-35482</a>
    <span class="example-spacer"></span>
    <a routerLink="/login">Login
    &nbsp;|&nbsp;
    Signup</a>
    <span style="margin-right: auto;"></span>
</mat-toolbar>
<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon routerLink="/main-component">home</mat-icon>
    </button>
    <span style="text-transform: uppercase;font-family: inherit;">Plasma Donation</span>
    <span class="example-spacer"></span>
    <button mat-stroked-button style="color: red;text-transform: uppercase;font-family: inherit;">Register as Donor</button>
    <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>people</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>favorite</mat-icon>
    </button> -->
  </mat-toolbar>
  <!-- <div class=" container bgimage">
      <img class="banner" src="../../../assets/1.jpg" alt="plasma_banner">
  </div> -->